/* Background Color */
body {
    background-color: rgba(55, 55, 59, 1.0);
    background-size: cover;
}

/* H1 Text */
h1 {
    color: rgba(255, 255, 255, 1.0);
    font-family: 'Oswald';
    font-size: 50px;
    text-align: center;
    text-shadow: 1.5px 1.5px rgba(0, 0, 0, 1.0);
}

/* H2 Text */
h2 {
    font-family: 'Oswald';
    font-size: 35px;
    text-align: center;
    text-shadow: 1.35px 1.35px rgba(0, 0, 0, 0.50)
}

/* H3 Text */
h3 {
    font-family: 'Oswald';
    font-size: 15px;
}

/* H4 Text */
h4 {
    color: rgba(255, 255, 255, 1.0);
    font-family: 'Oswald';
    font-size: 20px;
    text-align: center;
    text-shadow: 1.25px 1.25px rgba(0, 0, 0, 1.0); 
}

/* Funny Button */
a {
    text-decoration: none;
}

/* Button */
button {
    font-family: 'Oswald';
    text-align: center;
    width: 50px;
    height: 25px;
}

/* Form Style*/
#regForm {
    background-color: rgba(245, 245, 245, 1.0);
    margin: 100px auto;
    padding: 40px;
    width: 75%;
    min-width: 300px;
}

/* Input Field Style */
input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: 'Oswald';
    border: 1.5px solid #aaaaaa;
}

/* Invalid Input */
input.invalid {
    background-color: #ffdddd;
}

/* Hide Steps By Default */
.tab {
    display: none;
}

/* Step Circles */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(50, 50, 50, 0.25);
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark The Active Step */
.step.active {
    opacity: 1;
}

/* Mark The Finished Step */
.step.finish {
    background-color: rgba(0, 255, 0, 1.0);
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 1);
	background: rgba(255, 0, 0, 0);
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(135, 135, 135, 0.10);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(135, 135, 135, 0.65);
}
