/* Background Color */
body {
    background-color: rgba(55, 55, 59, 1.0);
    background-size: cover;
}

/* H1 Text */
h1 {
    color: rgba(255, 255, 255, 1.0);
    font-family: 'Oswald';
    font-size: 40px;
    text-align: center;
    text-shadow: 1.5px 1.5px black;
}

/* H2 Text */
h2 {
    text-align: center;
}

/* H3 Text */
h3 {
    font-size: 15px;
}


/* FORMAT THIS STUFF LATER */

/* Form Style*/
#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 75%;
    min-width: 300px;
}
  
/* Input Field Style */
input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}
  
/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
/* Mark The Active Step */
.step.active {
    opacity: 1;
}
  
/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
}

/* ^^^ */

/* Scrollbar */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 1);
	background: rgba(255, 0, 0, 0);
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(135, 135, 135, 0.10);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(135, 135, 135, 0.65);
}
